{{ define "main" }}

<!-- Banner -->
<section class="section-bottom" id="general">
    <div class="container">
        <div class="row justify-content-center" style="padding-top: 100px;">
            <h2 class="mb-2 text-lg secondary-text-color">{{ .Site.Data.legal_notices.title | markdownify }}</h2>
        </div>
    </div>
</section>

<!-- Legal notices -->
{{ if .Site.Data.legal_notices.legalNotices.enable }}
{{ with .Site.Data.legal_notices.legalNotices }}
<section class="section-rgpd secondary-bg-color" id="object">
    <div class="container">
        <div class="row justify-content-center">
            {{ range .mentions }}
            <div class="col-lg-4 col-md-5 col-6 text-right ">
                <span><strong>{{ .label | markdownify }}&nbsp;:</strong></span>
            </div>
            <div class="col-lg-8 col-md-7 col-6 my-auto">
                <span>{{ .description | markdownify }}</span>
            </div>
            {{ end }}
        </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}


{{ end }}