/*--------------------
Common Styles
-----------------*/
.section {
    position: relative;
    padding: 3.5rem 0;
}

.section-text {
    color: $primary-text-color;
    font-size: $text-size;
}

@media (min-width:768px) {
    .section {
        padding: 3.5rem 15px
    }
}

.section-top {
    padding-top: 3.5rem;
}

.section-bottom {
    padding : 50px 15px;
}

@media (min-width:768px) {
    .section-top {
        padding-top: 10.3125rem
    }
}

.slick-slide {
    outline: 0;
}

.bg-grey {
    background: #f7f7f7;
}

.primary-bg-color {
    background: $primary-background-color;
}

.secondary-bg-color {
    background: $secondary-background-color;
}

.text-color {
    color: $primary-text-color;
    font-size: 40px;
}

.mt-6 {
    margin-top: 10px;
}

.mb-6 {
    margin-bottom: 10px;
}

.mr-6 {
    margin-right: 10px;
}

.ml-6 {
    margin-left: 95px;
}

/*-------------------
  BUTTONS STYLE
----------------=----*/

.btn {
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    padding: 15px 15px;
    margin-bottom:4px;
    white-space: normal;
    border-radius: 35px;
    font-size: 14px;
    font-family: $secondary-font;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;


}

/* Style applied when button is clicked */
.btn:focus {
    box-shadow: none !important;
    border-color: $secondary-text-color;
    background: $secondary-text-color;
    color: $light ;
}


.btn-main {
    border-color: $secondary-text-color;
    color: $light;
    background: $secondary-text-color;

    &:hover {
        background: $primary-text-color;
        color: $light;
        border-color: $primary-text-color;
    }
}


.btn-main-2 {
    background: $primary-text-color;
    color: $light;
    border-color: $primary-text-color;

    &:hover {
        background: $secondary-text-color;
        color: $light;
        border-color: $secondary-text-color;
    }
}


.btn-white {
    background: $light !important;
    color: $primary-text-color;
    border-color: $light;
}


.btn-border-tp {
    border-color: $secondary-text-color;
    background: $secondary-text-color;
    color: $light ;
    &:hover {
        background: transparent;
        color: $secondary-text-color !important;
    }
}


.btn-small {
    padding: 12px 22px;
    font-size: 13px;
}

/*-------------------
  TEXT FIELDS STYLE
----------------=----*/
.text-field {
	border-radius: 15px;
    border:1px solid $border-color;
    background: $textfield-background-color;
    height:45px;
    width: 100%;
    max-width: 350px;
    padding-left: 15px;

    &:hover {
        border:1px solid $textfield-focus-color;
    }

    &:focus {
        outline: none !important;
        border:1px solid black;
        box-shadow: 0 0 10px #719ECE;
    }
    
    &:not(:placeholder-shown) {
        background-color: $textfield-background-color
    }
}

.text-field-area {
    width: 100%;
    max-width: 350px;
    padding-left: 15px;
	border-radius: 15px;
    border:1px solid $border-color;

    &:hover {
        border:1px solid $textfield-focus-color;
    }

    &:focus {
        outline: none !important;
        border:1px solid black;
        box-shadow: 0 0 10px #719ECE;
    }
    
    &:not(:placeholder-shown) {
        background-color: $textfield-background-color
    }
}

/*------------------------
 BACKGROUND
----------------------------*/

a {
    color: $black;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    color: $primary-text-color;
}

.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
}


.text-color-2 {
    color: $secondary-text-color;
}


.text-lg {
    font-size: 40px;
    line-height: 1.4;
}

.text-md {
    font-size: 32px;
    line-height: 1.3;
}

.letter-spacing {
    letter-spacing: 2px;
}

.text-sm {
    font-size: 14px;
    color: $primary-text-color;
}



@include mobile-xs {
    .btn {
        padding: 15px 37px
    }

    .display-4 {
        font-size: 2rem;
    }

    .comment-area {
        .media {
            display: block;
        }

        .media-body {
            margin-top: 20px;
        }
    }

}