$light: #fff;
$primary-color:#cc302b;
$secondary-color: #385777;
$black: #222;
$black-light: #3f4451;
$black-lighter: #888;
$border-color:#eee;
$gray : #f7fdfc;
$hover-color: #cc302b;

/************************************* Text *************************************/
/*---------- Font -----------*/
$primary-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto; 
$secondary-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;

/*---------- Size -----------*/
$title-size : 40px;

/*---------- Color ----------*/
$title-color : #263b5e;

/************************************* Background *************************************/
/*---------- Color ----------*/
$primary-background-color: #ffffffff;
$secondary-background-color: #f7f7f7;


