$light: #fff;
$black: #222;
$black-light: #3f4451;
$black-lighter: #888;
$border-color:#eee;
$gray : #f7fdfc;
$hover-color: #aa1a17;

/************************************* Text *************************************/
/*---------- Font -----------*/
$primary-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto; 
$secondary-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;

/*---------- Size -----------*/
$title-size : 40px;
$text-size : 20px;

/*---------- Color ----------*/
$title-color : #491ceb;
$primary-text-color : #11142c;
$secondary-text-color:#af201a;

/************************************* Background *************************************/
/*---------- Color ----------*/
$primary-background-color: #ffffffff;
$secondary-background-color: #f7f7f7;
$third-text-color: #d0d0d0;

/************************************* Icon *************************************/
$icon-color : #af201a;