
@import 'variables.scss';

@import 'mixins.scss';

@import 'media-query.scss';

@import 'typography.scss';

@import 'common.scss';

@import 'templates/page-banner.scss';

@import 'templates/navigation.scss';

@import 'templates/slider.scss';

@import 'templates/about.scss';

@import 'templates/project.scss';

@import 'templates/partner-point.scss';

@import 'templates/testimonial.scss';

@import 'templates/snackbar.scss';

@import 'templates/contact.scss';
@import 'templates/blog.scss';

@import 'templates/footer.scss';





