{{ define "main" }}

<!-- Banner -->
{{ if .Site.Data.homepage.banner.enable }}
{{ with .Site.Data.homepage.banner }}
<section class="banner-main" id="home">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 col-md-7 col-12">
                <div class="main-banner">
                    <h1>
                        {{ range .title }}
                            <span class="{{ .class }}">{{ .text | markdownify}}</span>
                        {{ end }}
                    </h1>
                    {{ range .content }}
                        <p class="{{ .class }} section-text">{{ .text | markdownify }}</p>
                    {{ end }}
                        <div class="row justify-content-center">
                            {{ if .appStore.enable }}
                                <a class="mx-auto my-3 smoth-scroll" href="{{ .appStore.link | relURL }}"><img src="{{ .appStore.image }}" width="190" /></a>
                            {{ end }}
                            {{ if .playStore.enable }}
                                <a class="mx-auto my-3 smoth-scroll" href="{{ .playStore.link | relURL }}"><img src="{{ .playStore.image }}" width="200" /></a>
                            {{ end }}
                        </div>
                </div>
            </div>
            
            {{ if .image }}
            <div class="banner-img col-lg-4 col-md-5 col-8 d-lg-block">
                <div class="pt-5">
                    <img class="align-items-center" src="{{ .image | relURL }}" alt="Application screenshot">
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- Project -->
{{ if .Site.Data.homepage.project.enable }}
{{ with .Site.Data.homepage.project }}
<section class="section-bottom secondary-bg-color" id="project">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="text-center">
                    <h2 class="text-lg secondary-text-color mb-4">{{ .title | markdownify }}</h2>
                    {{ range .subtitle }}
                        <p class="section-text">{{ .text | markdownify }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ range .serviceItem }}
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="project-card mt-5 mb-lg-2">
                    <h4 class="project-text pt-3">{{ .title | markdownify }}</h4>
                    <img class="mt-3" style="width: 200px" src="{{ .image }}">
                    <p class="pt-4 mx-3">{{ .content | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- Partner Points -->
{{ if .Site.Data.homepage.partnerPoint.enable }}
{{ with .Site.Data.homepage.partnerPoint }}
<section class="section-bottom" id="partnerPoint">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="section-heading text-center">
                    <h2 class="text-lg secondary-text-color mb-3">{{ .title | markdownify }}</h2>
                    {{ range .subtitle }}
                        <p class="section-text">{{ .text | markdownify }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="row mt-5">
            {{ range .serviceItem }}
            <div class="mx-auto mb-4">
                <a href="{{ .URL | relURL }}">
                    <div class="pp-card mx-2">
                        <i class="{{ .icon }}"></i>
                        <h3 class="mt-4">{{ .title | markdownify }}</h3>
                        {{ with .content }}
                            {{ if .text }}
                                <span class="pp-content mx-4">{{ .text | markdownify }}</span>
                            {{ end }}
                            <ul>
                            {{ range .list }}
                                <li>{{ .listText | markdownify }} </li>
                            {{ end }}
                            </ul>
                        {{ end }}
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
        {{ if .button }}
        <div class="row justify-content-center mt-5">
            <div class="col text-center">
                {{ if .text }}
                <p style="font-size: 20px;">{{ .text | markdownify }}</p>
                {{ end }}
                <a class="btn btn-border-tp smoth-scroll" href="{{ .button.URL | relURL }}">
                    {{ .button.text | markdownify }}
                </a>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}

<!-- About us -->
{{ if .Site.Data.homepage.about.enable }}
{{ with .Site.Data.homepage.about }}
<section class="about section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="section-heading text-center">
                    <h2 class="mb-2 text-lg secondary-text-color">{{ .name | markdownify }}</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="{{ .image | relURL }}" alt="{{ .name }}">
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="">
                    {{ range .items }}
                    <div class="about-item d-flex mb-3 mt-5">
                        {{ if .icon }}
                        <div>
                            <i class="{{ .icon }}"></i>
                        </div>
                        {{ end }}
                        <div class="content">
                            <p class="section-text">{{ .content | markdownify }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- Newsletter -->
{{ if .Site.Data.homepage.newsletter.enable }}
{{ with .Site.Data.homepage.newsletter }}
<section class="section-bottom" id="contactus">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="section-heading text-center">
                    <h2 class="text-lg secondary-text-color mb-3">{{ .title | markdownify }}</h2>
                    {{ range .subtitle }}
                        <p class="section-text">{{ .text | markdownify }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
        <form id="newsletter-form" action="https://formspree.io/f/moqywvnq" data-netlify="true" method="POST">
            <div class="row justify-content-center mt-2">
                <div class="col-lg-5 col-md-6 col-sm-8 col-11 text-center">
                    <input id="{{ .textfield.id }}" name="{{ .textfield.id }}" type="{{ .textfield.type }}" class="text-field mb-4" placeholder="{{ .textfield.hint_text }}" {{ if .textfield.required }} required {{ end }}>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-10 text-center">                
                    <button type="submit" class="btn btn-border-tp btn-small">{{ .button.text }}</button>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <p id="newsletter-form-status"></p>
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<script>
    var form = document.getElementById("newsletter-form");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("newsletter-form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        status.innerHTML = "Votre email a bien été enregistré ! Merci :)";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Un problème est survenu pendant l'envoi de votre email, veuillez réésayer."
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>

<!-- Contact Us -->
{{ if .Site.Data.homepage.contact.enable }}
{{ with .Site.Data.homepage.contact }}
<section class="section contact secondary-bg-color" id="contactus">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <div class="section-heading text-center">
                    <h2 class="mb-2 text-lg secondary-text-color">{{ .title | markdownify }}</h2>
                    <p class="section-text">{{ .subtitle | markdownify }}</p>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-2">
            {{ range .contactItem }}
                <div class="contact-info-block text-center my-3 mx-4">
                    <a href="mailto:{{ .mail.address }}?subject={{ .mail.subject }}"><i class="{{ .icon }}"></i></a>
                    <p>{{ .title | markdownify }}</p>
                    <h4>{{ .mail.address }}</h5>
                </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}

<!-- Snackbar -->
{{ if .Site.Data.homepage.snackbar.enable }}
{{ with .Site.Data.homepage.snackbar }}
<section class="my-3" id='snackbar-conditions'>
    <div class="container">
        <p class="section-text">{{ .asterix | markdownify }}</p>
    </div>
</section>
{{ end }}
{{ end }}

{{ end }}