$light: #fff;
$primary-color:#cc302b;
$secondary-color: #385777;
$black: #222;
$black-light: #3f4451;
$black-lighter: #888;
$border-color:#eee;
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font:'Josefin Sans', sans-serif;
$gray : #f7fdfc;
$secondary-background-color: #af1f1aef;
$hover-color: #af1f1a;
