// About part
.about-item {
    align-items: center;
	i {
		width: 80px;
		height: 80px;
		border-radius: 100%;
		text-align: center;
		display: inline-block;
		font-size: 40px;
		color: $icon-color;
	}

	.content {
		padding-left: 30px;
	}

    .title {
		color: $secondary-background-color;
	}
}

.cta-2 {
	padding: 20px 0px 6.5rem 0px;

	.subscribe {
		.form-control {
			border: 1px solid rgba(0, 0, 0, 0.03);
			border-radius: 5px;
		}
	}
}


// ABout
// 

.about {
	position: relative;

	.about-img {
		img {
            width: 75%;
			box-shadow: 0px 20px 40px 0px rgba(38, 59, 94, 0.1);
			border: 10px solid $light;
			border-radius: 20px;
		}
	}

	&:before {
		position: absolute;
		content: "";
		right: 0px;
		top: 0px;
		width: 70%;
		height: 100%;
		background: $secondary-background-color;
		border-radius: 20px 0px 0px 20px;
	}
}

///Responsive
///


@include mobile {
	.order-details li {
		width: 100%;
		border-right: 0px;
		padding: 20px 20px;
		background: $border-color;
	}

}

@include mobile-xs {
	.order-details li {
		width: 100%;
		border-right: 0px;
		padding: 20px 20px;
		background: $border-color;
	}

}

@include tablet {
	.order-details li {
		width: 100%;
		border-right: 0px;
		padding: 20px 20px;
		background: $border-color;
	}
}

@include desktop {
	.order-details li {
		width: 100%;
		border-right: 0px;
		padding: 20px 20px;
		background: $border-color;
	}
}