
/*---------------------------
CONTACT PAGE
-----------------------------*/

.contact-info-block{
    padding: 60px 20px;
	text-align: center;
	border-radius: 40px;
	box-shadow: 12px 7px 90px 0 rgba(110,123,131,.1);
	 -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

     h4{
        margin-bottom: 0px;
    }

    i{
        font-size: 40px;
        margin-bottom: 20px;
        display: block;
        color: $secondary-text-color;
    }
}


.form-control{
    border:1px solid rgba(0,0,0,0.04);
    box-shadow: 12px 7px 90px 0 rgba(110,123,131,.1);
    background: $light;
    height:60px;
    padding-left: 15px;
}

.form-control:focus,.form-control:hover{
    border-color: $primary-text-color;
    box-shadow: none;
}
