

/*--------------------------
PAGE BANNER
--------------------------*/

.page-banner-area{
    padding: 180px 0px 90px;
    position: relative;
}

.banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
		width: 75%;
    }
}

