.pp-card{
	max-width: 360px;
    max-height: 700px;
    min-height: 320px;
    padding: 15px 15px;
	text-align: center;
	border-radius: 40px;
    border:1px solid $border-color;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	 -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;


	&:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

    span {
        font-size: 18px;
    }

	i {
		font-size: 60px;
        color: $icon-color;
	}

    li {
        text-align: start;
    }

    li::marker {
        font-size: 13px;
    }

}

.pp-content {
	text-align: center;
    height: 50px;
}

.who-pp-card{
	width: 300px;
    height: 300px;
	text-align: center;
	border-radius: 40px;
    border:1px solid $border-color;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	 -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;


	&:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	img {
		height: 60px;
        color: $icon-color;
	}

    li {
        text-align: start;
    }

    li::marker {
        font-size: 13px;
    }

}

.who-pp-content {
	text-align: center;
    height: 50px;
}

.benefit-card {
    text-align: center;
	border-radius: 40px;
    border:1px solid $border-color;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	 -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;


	&:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	img {
		height: 60px;
	}
}

.benefit-card-content {

    .benefit-card-title {
        color: $secondary-text-color;
        font-weight: 500;
        height: 80px;
    }

    .benefit-card-text {
        text-align: justify;
        font-size: 18px;
    }

    li {
        text-align: start;
    }

    li::marker {
        font-size: 13px;
    }

}

.reminder {
    display: inline-block;

    div {
        display: inline;
    }

    .reminder-head {
        font-size: 20px; 
        color: $secondary-text-color
    }

    .reminder-text {
        font-size: 20px; 

    }
}