.project-card{
    background-color: #ffffff;
	text-align: center;
    height: 640px;
	border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	 -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;


	&:hover{
        box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
	}

	i{
		font-size: 80px;
	}

}

.project-text {
	text-align: center;
    height: 50px;
}

