
/*----------------------
 BANNER STYLE
-----------------------*/

.py-7 {
    padding: 7.5rem 0;
}


/*-------------------------
 HOME -2 
-----------------------------*/
.banner-main{
    position: relative;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    &:before{
    	position: absolute;
    	content: "";
    	left: 0px;
    	top:0px;
    	width: 100%;
        background:#ffffff;
    	height: 80%;

    }
}


h1 {
    font-size: $title-size;
    line-height: 1.2;
    color: $primary-text-color;
    font-weight: 700;
}

.main-banner {
    padding: 80px 3px 20px;
}


// Responsive


@include mobile{
    h1 {
        font-size: 45px;
        line-height: 55px;
    }
}
@include mobile-xs{
    h1 {
        font-size: 36px;
        line-height: 46px
    }
}


// @include tablet{
//     h1 {
//         font-size: 45px;
//         line-height: 55px;
//     }
// }

